@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Inicio estilos form registro propietario*/
.wrapper-form-prop {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrapper-propietario {
	width: 34rem;
	height: 42rem;
	display: flex;
	flex-direction: column;
}

.wrapper-propietario h2 {
	background-color: #3d8aff;
	border-radius: 0.5rem;
	text-align: center;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #ffffff;
}

.wrapper-propietario form {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #ffffff;
	border: 1px solid #3d8aff;
	box-sizing: border-box;
	border-radius: 0.5rem;
}

.wrapper-propietario form .card-prop {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.card-prop small {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 1.375rem;
	color: #0950bb;
	margin-bottom: 0.4rem;
}

.card-prop input[type='text'],
input[type='email'] {
	height: 2rem;
	background: rgba(255, 255, 255, 0.5);
	border: 0.5px solid #0950bb;
	box-sizing: border-box;
	border-radius: 0.5rem;
	font-size: 1.2rem;
}

.card-prop input[type='submit'] {
	background: #2bbe5d;
	margin-top: 1rem;
	height: 2.125rem;
	border: none;
	border-radius: 0.5rem;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	color: #ffffff;
}

.card-prop .btn-atras {
	text-decoration: none;
	text-align: center;
	height: 2.125rem;
	background: #ffffff;
	border: 0.5px solid #3d8aff;
	box-sizing: border-box;
	border-radius: 0.5rem;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	font-size: 1.375rem;
	color: #3d8aff;
	margin-bottom: 1.5rem;
}

.card-prop input[type='submit']:hover,
button:hover {
	cursor: pointer;
}

.card-prop input[type='text']:focus {
	outline: none;
}

.card-prop input[type='submit']:focus {
	border: 0;
	outline: none;
}

.card-prop button:focus {
	outline: none;
}

/*Fin estilos form registro propietario*/
