/* Inicio encabezado y buscador boton agregar clientes */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.input-boton__clientes {
	display: flex;
	width: 69.5rem;
	justify-content: flex-end;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-right: 6.75rem;
}

.encabezado-listado {
	width: 69.5rem;
	height: 2.125rem;
	background-color: #3d8aff;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.encabezado-listado p {
	font-size: 1.5rem;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 2.625rem;
}

.card-propietario {
	width: 1111px;
	border: 1px solid #3d8aff;
	border-radius: 5px;
	margin-top: 5px;
	background-color: white;
}

.card-propietario ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-propietario ul li {
	width: 33.3%;
	height: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-propietario ul li h2 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #0950bb;
}

.card-propietario ul li p {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
}

.boton-add-cliente {
	font-family: 'Ubuntu', sans-serif;
	width: 7.813rem;
	height: 1.5rem;
	background-color: #3d8aff;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
}
.boton-add-cliente:hover {
	background-color: #0950bb;
}
.boton-add-cliente a {
	font-size: 0.75rem;
	text-decoration: none;
	color: white;
}

/* Fin estilos */

/* Inicio estilos tabla */
.table {
	width: 69.5rem;
	text-align: left;
	border-collapse: collapse;
}
.tabla {
	overflow-y: scroll;
	background-color: white;
	margin-bottom: 1rem;
}

th,
tr {
	padding: 10px;
}
thead {
	border-bottom: solid 2px #3d8aff;
	border-top: solid 1px #8b8f96;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: #8b8f96;
}
thead p {
	font-weight: 300;
	line-height: 20px;
}
tbody tr {
	border-bottom: solid 1px #8b8f96;
}
tbody p {
	font-family: 'Ubuntu', sans-serif;
	color: #60636a;
	font-weight: 400;
	font-size: 1.25rem;
}

.boton-detalle {
	display: flex;
	background-color: #2bbe5d;
	color: white;
	width: 135px;
	height: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.875rem;
	text-decoration: none;
	font-weight: 400;
	border-radius: 0.5rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.boton-detalle:hover {
	background-color: #087c30;
}
.id-paciente {
	width: 1%;
}
.cc-paciente {
	width: 15%;
}
.nombre-paciente {
	width: 20%;
}

.medico-paciente {
	width: 30%;
}

.botones-paciente {
	width: 20%;
}

.order {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.order a {
	margin-left: 8px;
}
/*Inicio estilos popUp para los exámenes*/
.modal-examenes{
	width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
	top:0;
	left: 0;
	z-index: 10;
    display: flex;
    /*Centrado de elementos by Flexbox*/
    justify-content: center;
	align-items: center;
}


.show-examen{
	display: none;
}

form .files{
    display:none;
}

.bg-modal-examen{
	width: 480px;
	height: 520px;
	overflow-y: scroll;
    border: 1px solid #3D8AFF;
    border-radius: 5px;
	margin: 50px auto;
	background-color: #FFFFFF;;
}

.title-model{
    background: #3D8AFF;
    height: 41px;
    text-align: center;
    color:#FFFFFF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
	line-height: 41px;
}

.title-model p{
	text-align: center;
    color:#FFFFFF;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
}

.card-upload-examen{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.card-upload-examen > p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #0950BB;
    padding-top:18px;
    padding-bottom: 8px;
}

.text-examen{
    background-color: #2BBE5D;
    border-radius: 5px;
    width: 100px;
    height: 24px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.end-pop-examen{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 19px;   
    padding-top: 14px;
}

.end-pop-examen input[type="submit"]{
    width: 206px;
    height: 24px;
    border:none;
    background: #2BBE5D;
    border-radius: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.end-pop-examen input[type="submit"]:focus{
    outline: none;
}

.end-pop-examen .btn-cancelar-modal{
    width: 206px;
    height: 24px;
    background: #FFFFFF;
    border: 0.5px solid #0950BB;
    border-radius: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
	color: #3D8AFF;
	cursor: pointer;
}

.card-delete-examen{
    width: 90%;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-delete-examen > p{
    width: 25%;
}

.delete-examen{
    position: relative;
    width: 24px;
    height: 24px;
    background: #FF3D00;
    border-radius: 5px;
    margin-left: 53px;
    cursor: pointer;
}

.bot-img{
    position: absolute;
    margin:3.5px 0px 0px 5px;
}

.top-img{
    position: absolute;
    margin:9.5px 0px 0px 9px;
}
/*Fin estilos*/